.about-main-section {
    padding: 3rem;
    padding-bottom: 9rem;
    padding-top: 9rem;
    max-width: 100%;
    margin: 0 auto;
    background-color: var(--candlelight-ivory);
    margin-top: 1rem; 
    margin-left: auto;
}

