:root{
  --moody-indigo: #6387A9;
  --candlelight-ivory: #FBF4E1;
  --granite-gray: #636363;
  --gainsboro: #DDDDDD;
  --gray: #7c7d80;
  --cambridge-blue: #9DBEB7;
  --chestnut: #A44F32;
  --silver-clarice: #AAAAAA;
  --dark-green: #006400;
  --cadetblue: #5F9EA0;
  --white: #FFFFFF;
  --xanthous: #E5BC30;
  --harvest-gold: #E39600;
  --maize: #E8C242;
  --spanish-grey: #9E9E9E;
  --green: #008000;
  --black: #000000;
  --maximum-green: #627C39;
}

.go-back-button{
  position: absolute;
  margin-left: 2rem;
  margin-top: -3rem;
  padding-top: 2rem;
}

.go-back-button h4{
   font-size: 1.8rem;
}

.left-arrow{
  margin-right: 0.8rem;
}
.cart{
  width: 80%;
  margin: 0 auto;
  margin-top: 5rem;
}

table{
  width: 100%;
}

th:first-child,
td:first-child {
  width: 70%;
}

th.totals, td.totals, th.quantitys, td.quantitys {
  width: 15%; 
}


th.totals, td.totals{
  text-align: right;
}

th.quantitys, td.quantity, th.products{
  text-align: left;
}

.cart-title{
  margin-bottom: 2rem;
}


.checkout-navbar{
  border: solid 1px var(--granite-gray);
}

.cart img:hover{
  transform: scale(0.85);
  opacity: 1;
}


.cart-image-nav{
  width: 150px;
  height: 150px;
}

.checkout-item{
  display: flex;
  position: relative;
  padding-bottom: 30px;
  padding-top: 30px;
  border-color: var(--granite-gray);
  border-width: 0.1rem;
}

.checkout-item-text{
  margin-left: 60px;
  margin-top: 20px;
}

.checkout-item-description{
  font-size: 2rem;
   width: 14rem;
}

.checkout-item-price, .checkout-item-quantity, .checkout-item-total{
  font-weight: 100;
}

.checkout-item-price, .checkout-item-quantity, .checkout-item-description{
  margin-top: 20px;
}

.checkout-item-total{
  text-align: right;
  width: 97%;
  margin-left: 20px;
  margin-top:  60px;
  position: absolute;
}

.checkout-total {
  text-align: right;
  font-size: 2rem;
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}

.checkout-button{
   float: right;
   width: 300px;
   padding: 1em 1em;
}

.vertical-line{
  width: 1px;
  margin-left: 5rem;
  background-color: var(--gray);
  margin-top: 1rem;
}

.horizontal-line{
  border: 0.25px solid red;
  height: 1px;
  width: 100%;
}

.checkout-footer{
  margin-top: 6rem;
}

table {
  border-collapse: collapse;
}

tr {
  border-bottom: 1px solid var(--gray);
}

th{
  padding-bottom: 1rem;
  opacity: 50%;
}

.decrease{
  font-size: 2.6rem;
  margin-top: -1.1rem;
}

.number{
  margin-left: 2rem;
  margin-top: -1rem;
  border: none;
  background: none;
  font-size: 1.25rem;
  width: 10px;
}

.increase{
  font-size: 2rem;
  margin-left: 4rem;
  margin-top: -0.75rem;
}

.increase, .decrease, .number{
  position: absolute;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/*--------------------PAYMENT PAGE----------------------*/

.payment, .delivery, .shipping{
  width: 400px;
  margin-left: 6rem;
}

.form-group {
  position: relative;
  padding: 20px 0;
  width: 300px;
  max-width: 100%;
  }
  
  .form-group input {
  border: none;
  border-bottom: 2px solid var(--chestnut);
  background-color: #FBF4E1;
  color: #333;
  display: block;
  font-size: 16px;
  padding: 10px 0;
  width: 100%;
  margin-bottom: 1.5rem;
  
  }
  
  .form-group label {
  color: #A44F32;
  opacity: 0.6;
  font-family: Oswald;
  font-size: 16px;
  font-weight: 100;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  transform: translateY(30px);
  }
  
  .form-group input:valid,
  .form-group input:focus {
  outline: none;
  }
  
  .form-group input:valid + label,
  .form-group input:focus + label {
  color: #A44F32;
  opacity: 1;
  font-size: 14px;
  transform: translateY(0);
  }
  
  .form-group label {
  transition: all 0.2s ease-in-out;
  }

  
label[for="first-name"]{
  transform: translateY(100px);
}

label[for="last-name"]{
  transform: translate(170px,100px);
}

label[for="address"]{
  transform: translateY(175px);
}

label[for="city"]{
  transform: translate(0,240px);
}

label[for="province"]{
  transform: translate(110px, 240px);
}

label[for="postal-code"]{
  transform: translate(215px, 240px);
}

label[for="card-number"]{
  transform: translateY(100px);
}

label[for="expiry-date"]{
  transform: translate(0, 170px);
}

label[for="cvv"]{
  transform: translate(170px, 170px);
}

.form-group input:valid + label[for="first-name"], .form-group input:focus + label[for="first-name"] {
  margin-top: 4.5rem;
}

.form-group input:valid + label[for="last-name"], .form-group input:focus + label[for="last-name"] {
  margin-top: 4.5rem;
  margin-left: 10.5rem;
}

.form-group input:valid + label[for="address"], .form-group input:focus + label[for="address"] {
  margin-top: 9rem;
}

.form-group input:valid + label[for="city"], .form-group input:focus + label[for="city"] {
  margin-top: 14rem;
}

.form-group input:valid + label[for="province"], .form-group input:focus + label[for="province"] {
  margin-top: 14rem;
  margin-left: 7rem;
}

.form-group input:valid + label[for="postal-code"], .form-group input:focus + label[for="postal-code"] {
  margin-top: 14rem;
  margin-left: 13.5rem;
}

.form-group input:valid + label[for="card-number"], .form-group input:focus + label[for="card-number"] {
  margin-top: 4.5rem;
}

.form-group input:valid + label[for="expiry-date"], .form-group input:focus + label[for="expiry-date"] {
  margin-top: 9rem;
}

.form-group input:valid + label[for="cvv"], .form-group input:focus + label[for="cvv"] {
  margin-top: 9rem;
  margin-left: 10.5rem;
}

.form-group-1, .form-group-2, .form-group-6, .form-group-7{
    width: 45%;
    display: inline-block;
}

.form-group-3, .form-group-4, .form-group-5{
  width: 30%;
  display: inline-block;
}

.form-group-A, .form-group-B, .form-group-C{
  display: flex;
  justify-content: space-between;
}

.submit-button{
  margin-top: 3rem;
}

input[type="submit"] {
  font-family: Oswald;
  font-size: 0.7rem;
  background-color: var(--maximum-green);
  box-shadow: 1px 4px 0 #3A4A21;
  border-radius: 4rem;
  color: white;
  padding: 1em 2em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  border: none; 
  cursor: pointer;
}

.shipping input[type="submit"], #payment-button{
  width: 300px;
  font-size: 1rem;
  display: block;
}

#payment-button{
  display: none;
  text-decoration: none;
}

input[type="submit"]:hover {
  background-color: #4b5f2a;
}

input[type="submit"]:active,
input[type="reset"]:active {
  box-shadow: none;
  top: 5px;
}

.shipping h2{
    margin-bottom: 2rem;
}


.order-summary{
  margin-left: -4rem;
  background-color: var(--maize);
  width: 60%;

}

.order-summary #number, .order-summary #number1{
  margin-left: -0.1rem;
}

.payment-form{
  display: flex;
  margin-top: 5rem;
}

.checkout-price-information {
  text-align: right;
  padding-top: 0.75rem;
}

.subtotal{
  margin-right: 7.4rem;
}

.estimated-tax{
  margin-right: 8rem;
}

.total{
  margin-right: 5rem;
}

.total-information{
  max-width: 800px;
}


/* Radio Buttons Styling */
/* Source for hover effect on radio buttons: https://briantree.se/styling-html-radio-buttons-a-step-by-step-guide/ */
.radio-group ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.radio-group li {
  margin: 0.5em 0;  
}

.radio-group input[type="radio"] {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px !important;
  overflow: hidden;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}

.radio-group label {
  color: var(--gray);
  font-family: Oswald;
  display: inline-flex;
  align-items: center;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.radio-group label::before {
  content: '';
  display: block;
  height: 1.25em;
  width: 1.25em;
  border: solid 1px var(--gray);
  border-radius: 50%;
  margin-right: 0.5em;
  transition: border ease-in 150ms, box-shadow ease-in 150ms;
  margin-right: 2rem;
}

.radio-group input[type="radio"]:checked + label,
.radio-group input[type="radio"]:focus + label {
  color: var(--moody-indigo);
}

.radio-group input[type="radio"]:checked + label::before {
  background: radial-gradient(0.75em circle at center, currentColor 50%, transparent 55%);
  box-shadow: 0 0 1em 0 val(--moody-indigo);
  border-color: currentColor;
}

.radio-group input[type="radio"]:focus + label::before {
  box-shadow: 0 0 1em 0 rgba(10, 150, 255, 0.75);
  border-color: currentColor;
}


/* Thank You Message */

.message {
  text-align: center;
  margin-top: 10rem;
  margin-bottom: 3rem;
}
.message h1 {
  font-family: Oswald, sans-serif;
  font-size: 3rem;
  color: var(--moody-indigo);
}

.message h2 {
  font-family: Oswald, sans-serif;
  font-size: 2rem;
  color: var(--chestnut);
  margin-top: 10px;
}

#order-message{
  margin-bottom: 3rem;
}
#back-to-menu-button{
  margin: 0 auto;
}



@media (max-width: 1100px){

  .checkout-item-text, td.quantitys, td.totals{
    margin-top: -1rem;
  }

  .payment-form{
    display: block;
  }
  
  .delivery, .payment, .shipping{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }

  .shipping input[type="submit"]{
      position: absolute;
  }
  .order-summary{
    margin: 0 auto;
    width: 90%;
    margin-top: 2rem;
  }

  .order-summary h2{
    margin-top: 0.5rem;
    padding-top: 1rem;
    text-align: center;
  }

  .shipping h2, .payment h2, .delivery h2{
    display: flex;
    width: 100%;
    text-align: center;
  }

  .order-summary #number,   .order-summary #number1{
    transform: translateX(1.25rem);
  }

  .payment-information{
    margin-left: 5rem;
  }

  .checkout-total{
    margin-bottom: 1rem;
  }

  .shipping input[type="submit"]{
    display: none;
  }

  #payment-button{
      display: block;
      margin: 0 auto;
      margin-top: 2rem;
  }

  #payment-button a{
    text-decoration: none;
  }

  hr{
    display: block;
  }

}

@media (max-width: 768px) {
  header {
    padding: 10px;
  }

  header.show-mobile-menu::before {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
  }

  .navbar .logo {
    font-size: 1.7rem;
  }
  #hamburger-btn {
    display: block;
    color: var(--candlelight-ivory);
  }
 
#close-menu-btn {
    display: block;
    color: var(--chestnut);
    background-color: var(--maize);
    border-radius: 20%;
  }

  .navbar .menu-links {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100vh;
    background: var(--candlelight-ivory);
    flex-direction: column;
    padding: 70px 40px 0;
    transition: left 0.2s ease;
    margin-top: 0;
  }

  header.show-mobile-menu .navbar .menu-links {
    left: 0;
  }

  .navbar a {
    color: var(--chestnut);
  }
  
  .footer {
    position: relative;
    bottom: 0;
    left: 0;
    transform: none;
    width: 100%;
  }

  .footer .footer-row {
    padding: 20px;
    gap: 1rem;
  }

  .cart-and-payment{
    display: block;
  }

  .cart, .payment{
    width: 80%;
  }

  .product, .featured-product{
    width: 90%;
    margin-left: 0.75rem;
    height: 30rem;
  }

  .checkout-item-description{
    font-size: 1.5rem;
    width: 6.25rem;
  }

  .checkout-footer{
    margin-top: 5rem;
  }

  .product-cards{
    display: block;
  }

  .product img{
    display: block;
    transition: none;
    margin-top: 2rem;
    margin-bottom: 4rem;
    transform: scale(1.5);
  }

  .product img:hover{
    transform: scale(1.4);
  }

  .menu-hero-product{
    display: block;
    margin-top: -6rem;
  }

  .menu-hero-product .product-image{
    margin: 0 auto;
    width: 50%;
  }

  .menu-hero-product .product-description{
    width: 90%;
  }

  .menu-hero-product .product-image {
    width: 40%;
    height: auto;
  }

  .about-hero-content{
    margin-top: -4.5rem; 
  }

  .payment, .shipping, .delivery{
    margin-left: 0;
  }


}


