/* 
HOME PAGE STYLING CSS
 */

/*----------------- Default styling for ALL sections -----------------*/
* {
    box-sizing: border-box;
    /* outline: #A44F32 solid 2px; */
}

/*----------------- Hero Section Styling -----------------*/
.home-hero-section {
    height: 100vh;
    background-color: var(--moody-indigo);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 0 20px;
    margin-bottom: 2rem;
}

.home-hero-section .content {
    max-width: 1300px;
    margin: 0 auto;
    width: 100%;
    color: var(--candlelight-ivory);
    margin-top: 7rem;
    margin-left: 2rem;
}

.home-hero-section .content h1 {
    line-height: 80px;
    max-width: 1000px;
}

.home-hero-section .content p {
    font-weight: 300;
    max-width: 1000px;
    margin-top: 2rem;
    font-size: 1.2rem;
    text-align: left;
    color: var(--candlelight-ivory)
}

.home-hero-section .button {
    margin-left: auto;
}

.hero-image {
    flex-basis: 20%; 
    margin-top: 10rem;
    max-width: 1300px;
}

/*----------------- Main Section Styling -----------------*/
.home-main-section {
    margin-bottom: 5rem;
    margin-top: 5rem;
    padding: 4rem 2rem;
    max-width: 100%;
    margin: 0 auto;
    background-color: var(--candlelight-ivory);
    margin-left: auto;
}

.home-main-section h2, p {
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 4rem;
}

.home-hero-section .content button {
    margin-top: 38px;
}

.news-and-updates-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
}

.news-and-updates-item {
    flex: 1;
    max-width: 1000px;
    align-items: flex-start;
    margin: 2rem;
    box-sizing: border-box;
}

.news-and-updates-item h3 {
    margin-bottom: 2rem;
}

.news-and-updates-item p {
    text-align: left;
}
.news-and-updates-container img {
    width: 80%;
    height: auto;
    border-radius: 20px;
}
/* hereee */
button{
    border: none;
    cursor: pointer;
    color: var(--candlelight-ivory);
    background: none;
    transition: all .3s ease-in-out;
    margin-left: 2rem;
    margin-right: 2rem;

}

.carousal-container {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;

}

.product-carousel-view {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 10px;
  padding: 44px 0;
  transition: all 0.25s ease-in;
}

.product-carousel-view .item-list {
  /* max-width: 990px; */
  width: 90vw;
  padding: 50px 10px;
  display: flex;
  gap: 48px;
  scroll-behavior: smooth;
  transition: all 0.25s ease-in;
  -ms-overflow-style: none; 
  scrollbar-width: none; 
  overflow: auto;
  scroll-snap-type: x mandatory;
}


.item-list::-webkit-scrollbar {
  display: none;
}

.prev-btn {
  background : none;
  cursor: pointer;
}

.next-btn {
  cursor: pointer;
}
/* 
.item {
  scroll-snap-align: center;
  min-width: 250px;
  height: 240px;
  border-radius:8px;
} */

.item {
    scroll-snap-align: center;
    min-width: 250px;
    height: 240px;
    max-width: 100%; 
    max-height: 100%; 
    border-radius: 8px;
  }

  .item p {
    margin-top: auto;
    text-align: center;
  }
  
  .item-list img {
    width: 100%; /* Set the width to 100% to ensure responsiveness */
    height: 100%; /* Allow the height to adjust proportionally */
  }
  

/* footer */
footer {
    font-family: Oswald, sans-serif;
    position: absolute;
    background: var(--moody-indigo);
    margin-top: 2rem;
    left: 50%;
    transform: translate(-50%);
    width: 100%;  
  }

.company-info {
    display: flex;
    align-items: center;
}

.company-info .logo {
    width: 10%;
    margin-right: 0.5rem; /* Add margin for spacing between logo and company name */
}

.company-info .company-name {
    text-decoration: none;
    color: var(--candlelight-ivory);
    font-weight: 600;
    font-family: Oswald, sans-serif;
    font-size: 2rem;
}
  
  footer .footer-row {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 3.5rem;
      padding: 60px;
  }
  
  .footer-row .footer-col h4 {
      color: var(--candlelight-ivory);
      font-size: 1.5rem;
  }
  
  .footer-col{
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
  }
  
  .footer-col .footer-links { 
      margin-top: 30px;
      color: var(--candlelight-ivory);
  }
  
  .footer-col .footer-links li, .footer-contact-information li{
      list-style: none;
      margin-bottom: 10px;
  }
  
  .footer-contact-information li{
    color: var(--candlelight-ivory);
  }
  
  .footer-col .footer-links li a {
      text-decoration: none;
      color: var(--maize);
      transition: color 0.3s ease;
  }
  
  .footer-col .footer-links li a:hover {
    color: var(--chestnut);
  }
  
  .footer-col p {
    margin: 20px 0;
    color: var(--maize);
    max-width: 300px;
  }
  
  .footer .form-group {
      position: relative;
      padding: 20px 0;
      width: 300px;
      max-width: 100%;
  }
      
  footer .form-group input {
      border: none;
      border-bottom: 2px solid var(--maize);
      background-color: var(--moody-indigo);
      color: #333;
      display: block;
      font-size: 16px;
      padding: 10px 0;
      padding-top: 20px;
      width: 100%;
  }
  
  footer .form-group label {
      color: var(--candlelight-ivory);
      opacity: 0.6;
      font-family: Oswald;
      font-size: 1rem;
      font-weight: 100;
      position: absolute;
      top: 0;
      left: 0;
      pointer-events: none;
      transform: translateY(30px);
  }
      
  footer .form-group input:valid,
      .form-group input:focus {
      outline: none;
  }
      
  footer .form-group input:valid + label, 
  footer .form-group input:focus + label {
      color: var(--candlelight-ivory);
      opacity: 1;
      font-size: 1.5rem;
      transform: translateY(0);
  }
      
  footer .form-group label {
      transition: all 0.2s ease-in-out;
  }
  
  footer input[type="submit"] {
      font-family: Oswald;
      font-size: 1rem;
      background-color: var(--maximum-green);
      box-shadow: 1px 4px 0 #3A4A21;
      border-radius: 4rem;
      color: white;
      padding: 1em 1em;
      position: relative;
      text-decoration: none;
      text-transform: uppercase;
      border: none; 
      cursor: pointer;
      margin-top: 2rem;
    }
  
  footer input[type="submit"]:hover {
      background-color: #4b5f2a;
  }
    
  footer input[type="submit"]:active {
      box-shadow: none;
      top: 5px;
  }
  
  .copyright{
    position: absolute;
    width: 100%;
    text-align: center;
    color: var(--candlelight-ivory);
  }

  
/* 600 */
/* 992 */

/* 1200 */

/* 992 */
/* 992 */

/* 660 */
@media (max-width: 660px) {
    .home-hero-section .content h1 {
        font-size: 2rem;
        line-height: 48px;
        margin-bottom: 2rem;
    }

    .home-hero-section .content p {
        font-size: 0.9rem;
    }

    .hero-image {
        flex-basis: 60%;
        max-width: 100%;
        margin-top: 3rem;
        order: -1;
        text-align: center;
    }

    .hero-image img {
        max-width: 80%; /* Adjust the image size as needed */
    }

    .home-main-section,
    .home-hero-section {
        padding: 1rem;
    }

    .news-and-updates-container {
        flex-direction: column;
        align-items: center;
    }

    .news-and-updates-item {
        max-width: 100%;
        text-align: center;
    }
}

@media (max-width: 992px) {
    .home-hero-section {
        flex-direction: column;
        align-items: center;
        margin-bottom: 10rem;
    }

    .home-hero-section .content {
        text-align: center;
        margin-left: auto;
    }

    .home-hero-section .content h1 {
        font-size: 2.5rem;
        line-height: 50px;
    }

    .home-hero-section .content p {
        font-size: 1rem;
        margin-top: 2rem;
        text-align: center;
    }

    .hero-image {
        flex-basis: 40%;
        max-width: 100%;
        margin-top: 5rem;
        order: -1;
        text-align: center;
    }

    .hero-image img {
        max-width: 60%; /* Adjust the image size as needed */
    }

    .home-main-section,
    .home-hero-section {
        padding: 2rem;
    }

    .news-and-updates-container {
        flex-direction: column;
        align-items: center;
    }

    .news-and-updates-item {
        max-width: 100%;
        text-align: center;
    }

    .news-and-updates-item p {
        margin-top: 1rem;
        text-align: center;
    }

}


@media (max-width: 768px) {
    .home-hero-section {
        flex-direction: column;
        align-items: center;
        margin-bottom: 10rem;
    }

    .home-hero-section .content {
        text-align: center;
        margin-left: auto;
    }

    .home-hero-section .content h1,
    .home-hero-section .content p {
        max-width: 100%;
        margin-top: auto;
    }

    .home-hero-section .content h1 {
        font-size: 2.9rem;
        line-height: 60px;
    }

    .home-hero-section .content button {
        padding: 9px 18px;
    }

    .hero-image {
        flex-basis: 40%; 
        max-width: 100%;
        margin-top: 5rem; 
        order: -1; 
        text-align: center;
    }

    .hero-image img {
        max-width: 80%;
    }

    .home-main-section,
    .home-hero-section {
        padding: 2rem; 
    }

    .news-and-updates-container {
        flex-direction: column;
        align-items: center;
    }

    .news-and-updates-item {
        max-width: 100%;
        text-align: center;
    }

}
