:root{
  --moody-indigo: #6387A9;
  --candlelight-ivory: #FBF4E1;
  --granite-gray: #636363;
  --gainsboro: #DDDDDD;
  --gray: #7c7d80;
  --cambridge-blue: #9DBEB7;
  --chestnut: #A44F32;
  --silver-clarice: #AAAAAA;
  --dark-green: #006400;
  --cadetblue: #5F9EA0;
  --white: #FFFFFF;
  --xanthous: #E5BC30;
  --harvest-gold: #E39600;
  --maize: #E8C242;
  --spanish-grey: #9E9E9E;
  --green: #008000;
  --black: #000000;
  --maximum-green: #627C39;
}

/*********** Beginning - Overall Website ***********/

blockquote{
    position: absolute;
    color: var(--white);
    font-size: 2rem;
    text-align: center;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    margin-left: -1rem;
    margin-top: -1rem;
}

.hero-container{
  position: relative;
}

.hero-image{
  height: auto;
  width: 100%;
  filter: brightness(50%);
  transform: translateY(-1.4rem);
  margin-top: -1rem;
}

.matcha-munchies-page header{
  padding-bottom: 0;
}

.matcha-munchies-page, .matcha-munchies-page header{
background-color: var(--candlelight-ivory);
}

.matcha-munchies-page .navbar{
  margin-top: -1rem;
  margin-left: -1rem;
}

.matcha-munchies-page .navbar2{
  height: 3.8rem;
}

.matcha-munchies-page .icon-image{
  margin-bottom: 0.5rem;
}
/*********** Ending - Overall Website ***********/


/*********** Beginning - About Us Section ***********/
/*Filter effect: https://www.geeksforgeeks.org/how-to-darken-an-image-using-css/*/

.about-detail{
  padding: 0 5rem;
}

.about-company, .about-quality{
  display: flex;
}

.about-company-detail, .about-quality-detail{
  margin-top: auto;
  margin-bottom: auto;
}

.about-company-detail{
   margin-right: 2rem;
}

.about-quality-detail{
   margin-left: 2rem;
}

/*********** Ending - About Us Section ***********/



/*********** Beginning - Menu Section ***********/
.add-button{
  margin-bottom: 1rem;
}
.navbar2 img{
  float: right;
  margin-right: 1rem;
}

.menu-product .product{
  margin-left: 5vw;
  overflow: hidden;
}

.menu-product img{
  transition: transform 0.3s ease;
  transform: scale(0.8);
}

.menu-product img:hover{
  transform: scale(0.85);
  opacity: 1;
}

/*********** Ending - Menu Section ***********/



/*********** Beginning - Product Section ***********/
.menu-hero-product img{
  transform: scale(2);
  border: solid 5px red;

}
/*********** Ending - Product Section ***********/



/*********** Beginning - Checkout Section ***********/

.vertical-line{
  width: 1px;
  margin-left: 5rem;
  background-color: var(--gray);
  margin-top: 1rem;
}
.cart-and-payment{
  display: flex;
}

.cart{
  width: 40%;
  margin-left: 2rem;
}

.checkout-navbar{
  border: solid 1px var(--granite-gray);
}

.cart img:hover{
  transform: scale(0.85);
  opacity: 1;
}

.payment{
  width: 40%;
  margin-left: 5rem;
}


/*********** Ending - Checkout Section ***********/
