:root{
  --moody-indigo: #6387A9;
  --candlelight-ivory: #FBF4E1;
  --granite-gray: #636363;
  --gainsboro: #DDDDDD;
  --gray: #7c7d80;
  --cambridge-blue: #9DBEB7;
  --chestnut: #A44F32;
  --silver-clarice: #AAAAAA;
  --dark-green: #006400;
  --cadetblue: #5F9EA0;
  --white: #FFFFFF;
  --xanthous: #E5BC30;
  --harvest-gold: #E39600;
  --maize: #E8C242;
  --spanish-grey: #9E9E9E;
  --green: #008000;
  --black: #000000;
  --maximum-green: #627C39;

}

/*Filter effect: https://www.geeksforgeeks.org/how-to-darken-an-image-using-css/*/

.hero-container{
  position: relative;
}

.hero-image{
  height: auto;
  width: 100%;
  filter: brightness(50%);
  transform: translateY(-1.4rem);
  margin-top: -1rem;
}

blockquote{
    position: absolute;
    color: var(--white);
    font-size: 2rem;
    text-align: center;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    margin-left: -1rem;
    margin-top: -1rem;
}

.about-us-page header{
  padding-bottom: 0;
}

.about-us-page, .about-us-page header{
background-color: var(--candlelight-ivory);
}

.about-us-page .navbar{
  margin-top: -1rem;
  margin-left: -1rem;
  }

.about-us-page h1{
background-color: var(--candlelight-ivory);
}

.about-detail{
  padding: 0 5rem;
}

.about-company, .about-quality{
  display: flex;
}

.about-company-detail, .about-quality-detail{
  margin-top: auto;
  margin-bottom: auto;
}

.about-company-detail{
   margin-right: 2rem;
}

.about-quality-detail{
   margin-left: 2rem;
}





