/* 
  STYLE GUIDE STYLING CSS
 */

 /* Colours for reference */
 :root{
    --moody-indigo: #6387A9;
    --candlelight-ivory: #FBF4E1;
    --granite-gray: #636363;
    --gainsboro: #DDDDDD;
    --gray: #7c7d80;
    --cambridge-blue: #9DBEB7;
    --chestnut: #A44F32;
    --silver-clarice: #AAAAAA;
    --dark-green: #006400;
    --cadetblue: #5F9EA0;
    --white: #FFFFFF;
    --xanthous: #E5BC30;
    --harvest-gold: #E39600;
    --maize: #E8C242;
    --spanish-grey: #9E9E9E;
    --green: #008000;
    --black: #000000;
    --maximum-green: #627C39;

 }
/* Default Styling For All Sections */
body {
  margin: 0;
  padding: 0;
  position: relative;
  background: var(--moody-indigo);
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-family: Oswald, sans-serif;
  font-weight: 900;
  font-size: 4rem;
  color: var(--candlelight-ivory);
}

h2 {
  font-family: Oswald, sans-serif;
  font-weight: 600;
  font-size: 2rem;
  color: var(--chestnut);
}

h3 {
  font-family: Oswald, sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--moody-indigo);
}

h4{
  font-family: Oswald, sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  color: var(--granite-gray);
  line-height: 1.6rem;
}

p {
  font-family: Source Sans Pro, sans-serif;
}

h1,h2,h3,h4, p{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/*Source for overflow-wrap effect: https://www.linkedin.com/pulse/4-ways-deal-overflowing-text-css-youssef-hafnawy#:~:text=In%20conclusion%2C%20CSS%20provides%20several,content%20remains%20visible%20and%20readable.*/
code {
  background-color: var(--gainsboro);
  padding: 1rem;
  display: block;
  overflow-wrap: break-word;
}

.element {
  padding-bottom: 5rem;
  padding-top: 2rem;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: var(--gray);
}

/* Header Styling */
header {
  padding: 1rem;
  background-color: var(--moody-indigo);
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

/* Page Navigation Styling */
/* Source for underline effect: https://codepen.io/maheshambure21/pen/QwXaRw */
#page-nav {
  width: 20%;
  height: 100vh;
  overflow-y: auto;
  position: fixed;
  padding-top: 3.8rem;
  left: 0.01rem;
  background: var(--candlelight-ivory);
  border-radius: 1rem;
  margin-top: 1.2%;
  margin-left: 1%;
}


#page-nav ul {
  list-style: none;
  padding: 0;
}

#page-nav ul li {
  padding: 1rem;
  font-family: Oswald, sans-serif;
  font-weight: 500; 
  font-size: 1rem;
  text-align: left;
  position: relative;
  color:var(--chestnut);
}

#page-nav ul li a {
  color:var(--chestnut);
  text-decoration: none;
  position: relative;
  transition-property: color; 
  transition-duration: 0.5s;
}

#page-nav ul li a::after {
  content: '.';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  color: transparent;
  background: var(--silver-clarice);
  height: 1px;
  width: 0%;
  transition: all 0.5s; 
}

#page-nav ul li a:hover:after {
  width: 100%;
}

#page-nav ul li a:hover {
  color: var(--moody-indigo);
}

/* Main Sections Styling */
.main-sections {
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 25%;
  padding: 5rem;
  padding-bottom: 0;
  background-color: var(--candlelight-ivory);
  border-radius: 1rem;
  width: 56%;
  margin-bottom: 2rem;
}

/*Resource: https://css-tricks.com/almanac/selectors/f/first-of-type/*/
.main-sections:first-of-type{
  padding-top: 15%;
}

#interactive_elements,
#combined_elements,å
#brand_ideas,
#brand_components {
  padding-top: 1rem;
  /*margin-top: 2rem; */
  scroll-margin-top: 10rem;
  padding-bottom: 2rem;
}

/* In-text Link Styling */
.in-text-link {
  font-family: Oswald;
  font-size: 1.3rem;
  color: var(--chestnut);
  text-decoration: none;
}

.in-text-link:hover {
  color: #78260b;
  text-decoration: underline;
}

/* Button Styling */
/* Source for "pressed" effect of buttons: https://www.w3schools.com/howto/howto_css_animate_buttons.asp */
.button {
  padding: 10px 40px;
  font-family: Oswald;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: var(--white);
  background-color: var(--xanthous);
  color: var(--chestnut);
  border: none;
  border-radius: 60px;
  box-shadow: 0 5px var(--harvest-gold);
}

.button:hover {background-color: var(--maize);}

.button:active {
  background-color: var(--harvest-gold);
  box-shadow: 0 5px var(--harvest-gold);
  transform: translateY(4px);
}

/* Submit and Reset Buttons Styling */
input[type="reset"] {
  font-family: Oswald, sans-serif;
  font-size: 0.7rem;
  background-color: var(--chestnut);
  box-shadow: 1px 4px 00 darkred;
  border-radius: 10rem;
  color: white;
  padding: 1em 2em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  border: none; 
  cursor: pointer;
}

input[type="submit"] {
  font-family: Oswald;
  font-size: 0.7rem;
  background-color: var(--maximum-green);
  box-shadow: 1px 4px 0 #3A4A21;
  border-radius: 4rem;
  color: white;
  padding: 1em 2em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  border: none; 
  cursor: pointer;
}

input[type="reset"]:hover {
  background-color: #9E3410;
}

input[type="submit"]:hover {
  background-color: #4b5f2a;
}

input[type="submit"]:active,
input[type="reset"]:active {
  box-shadow: none;
  top: 5px;
}

/* Input Label Styling */
/* Source for floating label: <!-- https://www.florin-pop.com/blog/2017/08/css3-floating-label/ --> */
.form-group {
position: relative;
padding: 20px 0;
width: 300px;
max-width: 100%;
}

.form-group input {
border: none;
border-bottom: 2px solid var(--chestnut);
background-color: #FBF4E1;
color: #333;
display: block;
font-size: 16px;
padding: 10px 0;
width: 100%;
}

.form-group label {
color: #A44F32;
opacity: 0.6;
font-family: Oswald;
font-size: 16px;
font-weight: 100;
position: absolute;
top: 0;
left: 0;
pointer-events: none;
transform: translateY(30px);
}

.form-group input:valid,
.form-group input:focus {
outline: none;
}

.form-group input:valid + label,
.form-group input:focus + label {
color: #A44F32;
opacity: 1;
font-size: 14px;
transform: translateY(0);
}

.form-group label {
transition: all 0.2s ease-in-out;
}

/* Radio Buttons Styling */
/* Source for hover effect on radio buttons: https://briantree.se/styling-html-radio-buttons-a-step-by-step-guide/ */
.radio-group ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.radio-group li {
  margin: 0.5em 0;  
}

.radio-group input[type="radio"] {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px !important;
  overflow: hidden;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}

.radio-group label {
  color: var(--gray);
  font-family: Oswald;
  display: inline-flex;
  align-items: center;
}

.radio-group label::before {
  content: '';
  display: block;
  height: 1.25em;
  width: 1.25em;
  border: solid 1px var(--gray);
  border-radius: 50%;
  margin-right: 0.5em;
  transition: border ease-in 150ms, box-shadow ease-in 150ms;
}

.radio-group input[type="radio"]:checked + label,
.radio-group input[type="radio"]:focus + label {
  color: var(--moody-indigo);
}

.radio-group input[type="radio"]:checked + label::before {
  background: radial-gradient(0.75em circle at center, currentColor 50%, transparent 55%);
  box-shadow: 0 0 1em 0 val(--moody-indigo);
  border-color: currentColor;
}

.radio-group input[type="radio"]:focus + label::before {
  box-shadow: 0 0 1em 0 rgba(10, 150, 255, 0.75);
  border-color: currentColor;
}

/*Image as a link Style*/
.image-nav {
  transition: opacity 0.3s ease-in-out;
}

.image-nav:hover {
  opacity: 0.5;
}

/*Number Style*/
.number::before{
  content: counter(li);
  color: var(--chestnut);
  font-family: Oswald;
  margin-left: -16px;
  display: inline-block;
  width: 32px;
  font-size: 1.5rem;
 }

 .number{
  counter-increment: li;
  margin-bottom: 16px;
  font-family: Source Sans Pro, sans-serif;
  list-style-type: none;
  font-size: 1.5rem;

 }

 /* Text Styling */
#text_elements h1 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


/*Main navigation Style*/
.navbar{
  width: 100%;
  overflow: hidden;
  display: flex;
  background-color: var(--candlelight-ivory);
}

.navbar a{
  text-decoration: none;
  font-family: Oswald;
  text-align: center;
  color: var(--chestnut);
  float: left;
  padding: 14px 16px;
  width: 25%;
  transition: color 0.5s, background-color 0.5s;
}

.navbar a:hover{
  color: var(--candlelight-ivory);
  background-color: var(--harvest-gold);
  text-decoration: underline;
}


/* Text Styling */
#text_elements h1 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Company News & Updates Styling */
/* Layout for News & Updates:  */
.image-left, .image-right
{
  margin: 1em 0;
}

/* Feeback Form Styling */
/* Source for feedback form: https://www.w3schools.com/howto/howto_css_contact_form.asp */
.feedback_container [type=text], select, textarea{
  width: 100%;
  font-family: Source Sans Pro, sans-serif;
  padding: 12px;
  border: 1px solid var(--moody-indigo);
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

.feedback_container label {
  font-family: Oswald, sans-serif;
  color: var(--moody-indigo);
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.feedback_container {
  border-radius: 5px;
  background-color: var(--candlelight-ivory);
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/*Product Listing Style*/
.product {
  border: 2px solid var(--harvest-gold);
  display: inline-block;
  padding: 20px 40px 0px;
  padding-right: 3rem;
  padding-left: 2.5rem;
  border-radius: 16px;
  margin-right: 30px;
  margin-bottom: 2rem;
  width: 23%;  
  text-align: center;
}

.product-description a{
  font-weight: 700;
}

.product-price a, .product-description a{
  text-decoration: none;
  color: var(--cadetblue);
}

.product-price a:hover, .product-description a:hover{
  color: var(--dark-green);
  transition-property: color; 
  transition-duration: 0.5s;
}

.product-description a:focus,  .product-price a:focus{
  text-decoration: underline;
}

/*Payment Style*/
/*Resource: https://stackoverflow.com/questions/13935064/css-target-label-based-on-for-attribute*/
label[for="card-number"]{
  transform: translateY(100px);
}

label[for="expiry-date"]{
  transform: translateY(170px);
}

label[for="cvv"]{
  transform: translateY(245px);
}

.form-group input:valid + label[for="card-number"], .form-group input:focus + label[for="card-number"] {
  margin-top: 4.5rem;
}

.form-group input:valid + label[for="expiry-date"], .form-group input:focus + label[for="expiry-date"] {
  margin-top: 9rem;
}

.form-group input:valid + label[for="cvv"], .form-group input:focus + label[for="cvv"] {
  margin-top: 13.5rem;
}

.submit-button{
  margin-top: 3rem;
}

/*Checkout Style*/
#cart{
  padding-right: 2rem;
}
.cart-image-nav{
  width: 150px;
  height: 150px;
}

.checkout-item{
  display: flex;
  position: relative;
  border-bottom-style: solid;
  padding-bottom: 30px;
  padding-top: 30px;
  border-color: var(--granite-gray);
  border-width: 0.1rem;
}

.checkout-item-text{
  margin-left: 20px;
}

.checkout-item-price, .checkout-item-quantity, .checkout-item-total{
  font-weight: 100;
}

.checkout-item-price, .checkout-item-quantity, .checkout-item-description{
  margin-top: 20px;
  margin-bottom: 10px;
}

.checkout-item-total{
  text-align: right;
  width: 97%;
  margin-left: 20px;
  margin-top:  60px;
  position: absolute;
}

.checkout-total {
  text-align: right;
  padding-right: 10px;
  font-size: 2rem;
}

.checkout-button{
  float: right;
}

.checkout-item-image{
  margin-top: 1.75rem;
}

/*Typography Style*/
.typography{
  width: 100%;
}

.typography td{
  border-bottom: 0.1rem solid var(--gray);
  font-size: 1.25rem;
  padding: 0.75rem 0.5rem 0.75rem 0.25rem;
}

/*Color Palette Style*/
.rect{
  width: 100%;
  height: 6rem;
}

.rect1{
  background-color: var(--moody-indigo);
}

.rect2{
  background-color: var(--chestnut);
}

.rect3{
  background-color: var(--granite-gray);
}

.rect4{
  background-color: var(--xanthous);
}

.rect5{
  background-color: var(--harvest-gold);
}

.rect6{
  background-color: var(--candlelight-ivory);
  border: 0.5px solid var(--black)
}

.color-palette td,.color-palette th{
  width: 33%;
  text-align: center;
  padding: 1.5rem 2rem;
  border: 0.1rem solid var(--gray);
}

.color-palette{
  border-collapse: collapse;
}

.color-palette th{
  font-size: 1.2rem;
}

/*Icon Style*/
.icon-image{
  width: 50px;
  height: 50px;
  padding-right: 2.3rem;
}

/*Potential Imagery Style*/
.product-image{
    width: 150px;
    height: 200px;
    padding-right: 2.3rem;
}

/*Other Element*/
.bold{
  font-weight:700
}

.typography td h1 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.typography td {
  font-family: Source Sans Pro;
}

.color-palette td {
  font-family: Source Sans Pro;
}

.color-palette th {
  font-family: Oswald;
}


.spacing{
  margin-bottom: 2rem;
  transform: translateY(32px);
}

.regular{
  font-weight: 100;
}

#citations ul {
  font-family: Source Sans Pro;
  overflow-wrap: break-word;
}

/* Media Queries for Responsiveness */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

@media screen and (max-width: 400px) {
#page-nav {
  width: 100%;
  position: static;
}

.main-sections {
  margin-left: 0;
  padding-top: 5rem; 
}
}

@media screen and (min-width: 320px)
{
  .image-left, .image-right
  {
    display: flex;
    align-items: center;
  }

  .image-left img
  {

    margin-right: 1em;
    float: left;
  }

  .image-right img
  {
    order: 1;
    margin-left: 1em;
    float: right; 
  }

}




