
/* Colours for reference */
:root{
    --moody-indigo: #6387A9;
    --candlelight-ivory: #FBF4E1;
    --granite-gray: #636363;
    --gainsboro: #DDDDDD;
    --gray: #7c7d80;
    --cambridge-blue: #9DBEB7;
    --chestnut: #A44F32;
    --silver-clarice: #AAAAAA;
    --dark-green: #006400;
    --cadetblue: #5F9EA0;
    --white: #FFFFFF;
    --xanthous: #E5BC30;
    --harvest-gold: #E39600;
    --maize: #E8C242;
    --spanish-grey: #9E9E9E;
    --green: #008000;
    --black: #000000;
    --maximum-green: #627C39;
}

/* General Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Oswald, sans-serif;
}

html {
    scroll-behavior: smooth;
}

h1 {
  font-family: Oswald, sans-serif;
  font-weight: 900;
  font-size: 4rem;
  color: var(--candlelight-ivory);
}
  
h2 { 
  font-family: Oswald, sans-serif;
  font-weight: 600;
  font-size: 2rem;
  color: var(--chestnut);
}
  
h3 {
  font-family: Oswald, sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--moody-indigo);
}
  
h4{
  font-family: Oswald, sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  color: var(--granite-gray);
  line-height: 1.6rem;
}
  
p {
  font-family: Source Sans Pro, sans-serif;
}

.element {
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding: 30px;
}

.homepage, .about-us-page, .contact-page, .menu-page {
  background-color: var(--candlelight-ivory);
}


/* Button Styling */
.button {
  padding: 10px 40px;
  font-family: Oswald;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: var(--white);
  background-color: var(--xanthous);
  color: var(--chestnut);
  border: none;
  border-radius: 60px;
  box-shadow: 0 5px var(--harvest-gold);
  /*
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  */
  margin-left: -8rem;
  margin-top: -2rem;
  text-decoration: none;
  
}

.button:hover {background-color: var(--maize);}

.button:active {
  background-color: var(--harvest-gold);
  box-shadow: 0 5px var(--harvest-gold);
}
/* ---------- HOME PAGE ----------*/

/* Header Styling */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px;
    background-color: var(--moody-indigo);
    z-index: 9999; 
    border-bottom: solid 1px var(--chestnut);
}

header .navbar {
    display: flex;
    justify-content: space-between;
    max-width: 1300px;
    margin: 0 auto;
    align-items: center;
}

/* Navbar Styling */
.navbar .logo {
    color: var(--candlelight-ivory);
    font-weight: 600;
    font-size: 3rem;
    text-decoration: none;
    margin-right: 10px;
}

.navbar .logo span {
    color: var(--chestnut);
}

.navbar .menu-links {
    display: flex;
    list-style: none;
    gap: 50px;
}

.navbar a {
    color: var(--candlelight-ivory);
    text-decoration: none;
    transition: 0.2s ease;
    font-size: 1.2rem;
}

.navbar a:hover {
    color: var(--chestnut);
}

/* Hero Section Styling */
.hero-section {
    height: 80vh;
    background-color: var(--moody-indigo);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 0 30px;
    margin-bottom: 2rem;
}

.hero-section .content {
  /*
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    */
    margin-left: 3rem;
    color: var(--candlelight-ivory);
    width: 50%;
}

.hero-section .content h2 {
    font-size: 3rem;
    line-height: 70px;
    color: var(--candlelight-ivory);
    margin-top: 2rem;
}

.hero-section .content p {
    font-weight: 300;
    margin-top: 15px;
}

.hero-section .button {
  padding: 10px 50px;
  font-family: Oswald;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
  background-color: var(--xanthous);
  color: var(--chestnut);
  border: none;
  border-radius: 60px;
  box-shadow: 0 5px var(--harvest-gold);
  margin-top: 2.5rem;
  position: relative; 
  transform: translateX(8rem);
}

#homepage-hero-button:hover{
  background-color: var(--maize);
  color: var(--chestnut);
}

/*
.hero-section .content button {

    padding: 10px 40px;
    font-family: Oswald;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: var(--white);
    background-color: var(--xanthous);
    color: var(--chestnut);
    border: none;
    border-radius: 60px;
    box-shadow: 0 5px var(--harvest-gold);
    margin-top: 2rem;
}
*/

.hero-section .content button:hover {
    background-color: var(--maize);
    color: var(--candlelight-ivory); 
}

.hero-section .content .button:active {
    background-color: var(--harvest-gold);
    box-shadow: 0 5px var(--harvest-gold);
    transform: translateY(4px);
}

.cart-icon{
  width: 70px;
  height: 70px;
  position: fixed;
  bottom: 0;
  right: 0;
  transform: translate(-1rem,-1rem);
  border-radius: 50%;
  border: 2px solid var(--chestnut);
  padding: 0.25rem;
  z-index: 100;
  background-color: var(--candlelight-ivory)
}
/*
.featured-button{
  position: center;
  margin: 0 auto;
  text-decoration: none;
  display: block;
  margin-top: 2rem;
}
*/

.hero-section .image{
  margin-left: 4rem;
}

/* Styling for the hamburger navigation */
#close-menu-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    display: none;
}

#hamburger-btn {
    color: var(--candlelight-ivory);
    cursor: pointer;
    display: none;
}

/* Layout for News & Updates:  */
.image-left, .image-right
{
  margin: 1em 0;
}

/*Featured Product Styling*/
.featured-product-title, .featured-product-subtitle{
   width: 100%;
   text-align: center;
}

.featured-product-title{
  font-size: 3rem;
}

#featured-button{
  position: absolute;
  left: 55%;
  width: 200px;
}

/*Arrow Styling */
.arrow{
  margin-left: 1rem;
}

.round-image{
  border-radius: 25px;
}

/* ---------- MENU PAGE ----------*/


.navbar2 img{
  float: right;
  margin-right: 1rem;
}

.menu-product .product{
  margin-left: 5vw;
}

.product-cards{
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
}


.product img, .featured-product img{
  transition: transform 0.3s ease;

}

.product img:hover , .featured-product img:hover{
  transition: transform 0.3s ease;
  transform: scale(0.9);
  opacity: 1;
}

.menu-page .element {
  margin-top: 10rem;
}

.product, .featured-product {
  padding: 20px 40px 0px;
  padding-right: 3rem;
  padding-left: 2.5rem;
  padding-bottom: 3rem;
  border-radius: 16px;
  margin-top: 5rem;
  text-align: center;
  margin-left: 2rem;
  width: 30%;

}

/*
.product{
  border: solid 1px var(--chestnut);
}
*/

.product-description{
  margin-top: 1rem;
}

.product-description a{
  font-weight: 700;
 }

.product-price a, .product-description a{
  text-decoration: none;
  color: var(--cadetblue);
}

.product-price a:hover, .product-description a:hover{
  color: var(--dark-green);
  transition-property: color; 
  transition-duration: 0.5s;
}

.product-description a:focus,  .product-price a:focus{
  text-decoration: underline;
}

.product input[type="submit"] {
  font-family: Oswald;
  font-size: .8rem;
  background-color: var(--maximum-green);
  box-shadow: 1px 4px 0 #3A4A21;
  border-radius: 4rem;
  color: white;
  padding: 1em 1em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  border: none; 
  cursor: pointer;
  margin-top: 2rem;
}

.product input[type="submit"]:hover {
  background-color: #4b5f2a;
}

.product input[type="submit"]:active {
  box-shadow: none;
  top: 5px;
}

.product-image, .product-description, .product-price{
  margin: 0 auto;
  padding-left: 0;
}


/* ---------- PRODUCT PAGE ----------*/

.menu-hero-product{
  display: flex;
}

.menu-hero-product h2{
  font-size: 5rem;
}


.menu-hero-product .product-image{
  width: 500px;
  height: 500px;
  margin-top: 1rem;
  margin-left: 5rem;
}

.menu-hero-product .product-image img:hover{
  opacity: 1;
}
.menu-hero-product .product-description{
  width: 60%;
  margin-left: 5rem;
  padding-top: 1rem;
  padding: 3rem;
}

.menu-hero-product .product-image {
  width: 35%;
}

.main-product-button{
  margin-top: 2rem;
}

.fullscreen{
  position: absolute;
  z-index: 9999;
  width: 100%;
  height: 57vw;
  background-color: rgba(0,0,0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  /*
  left: 35%;
  top: 28%;
  */
}





/* ---------- ABOUT US PAGE ----------*/

/* Hero Section Styling */
.hero-container{
    margin-top: 1.3rem;
    margin-bottom: 5rem;
    display: flex;
    background-size: cover;
}

.hero-container img {
    width: 100%;
}
/* .hero-image{
    height: auto;
    width: 100%;
    filter: brightness(50%);
    opacity: 0.8;
} */

blockquote {
    position: absolute;
    color: var(--white);
    font-size: 2rem;
    text-align: center;
    transform: translate(-50%, -50%);
    top: 70%; 
    left: 50%;
    margin-left: -1rem;
    width: 100%;
}


/* About Section Styling */

  .about-detail{
    padding: 0 5rem;
  }
  
  .about-company, .about-quality{
    display: flex;
    margin: 0 auto;

  }
  
  .about-company-detail, .about-quality-detail{
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .about-company-detail{
     margin-right: 2rem;
  }
  
  .about-quality-detail{
     margin-left: 2rem;
  }

  .about-quality{
     width: 80%;
     margin-top: 2rem;
  }

  .about-detail{
    width: 95%;
    margin-left: 2rem;

 }

/* ---------- CONTACT PAGE ---------- */

.feedback_container {
  border-radius: 5px;
  background-color: var(--candlelight-ivory);
  padding: 20px;
  width: 90%;
  margin: 0 auto;
  margin-top: 8rem;
}

.feedback_container [type=text], select, textarea{
  width: 100%;
  font-family: Source Sans Pro, sans-serif;
  padding: 12px;
  border: 1px solid var(--moody-indigo);
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

.feedback_container label {
  font-family: Oswald, sans-serif;
  color: var(--moody-indigo);
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.feedback_container input[type="submit"] {
  font-family: Oswald;
  font-size: 1rem;
  background-color: var(--maximum-green);
  box-shadow: 1px 4px 0 #3A4A21;
  border-radius: 4rem;
  color: white;
  padding: 1em 2em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  border: none; 
  cursor: pointer;
  margin-top: 2rem;
}

.feedback_container input[type="submit"]:hover {
  background-color: #4b5f2a;
}

.feedback_container input[type="submit"]:active {
  box-shadow: none;
  top: 5px;
}

#contactus-button{
  width: 300px;
  position: absolute;
  right: 0;
  margin-right: 5.8rem;
}

/*--------------------CHECKOUT PAGE----------------------*/


.cart{
  width: 80%;
  margin: 0 auto;
}

table{
  width: 100%;
}

th:first-child,
td:first-child {
  width: 70%; /* Set width of the first column to 60% */
}

th.totals, td.totals, th.quantitys, td.quantitys {
  width: 15%; 
}


th.totals, td.totals{
  text-align: right;
}

th.quantitys, td.quantity, th.products{
  text-align: left;
}

.cart-title{
  margin-bottom: 2rem;
}


.checkout-navbar{
  border: solid 1px var(--granite-gray);
}

.cart img:hover{
  transform: scale(0.85);
  opacity: 1;
}


.cart-image-nav{
  width: 150px;
  height: 150px;
}

.checkout-item{
  display: flex;
  position: relative;
  padding-bottom: 30px;
  padding-top: 30px;
  border-color: var(--granite-gray);
  border-width: 0.1rem;
}

.checkout-item-text{
  margin-left: 60px;
  margin-top: 20px;
}

.checkout-item-description{
  font-size: 2rem;
   width: 14rem;
}

.checkout-item-price, .checkout-item-quantity, .checkout-item-total{
  font-weight: 100;
}

.checkout-item-price, .checkout-item-quantity, .checkout-item-description{
  margin-top: 20px;
}

.checkout-item-total{
  text-align: right;
  width: 97%;
  margin-left: 20px;
  margin-top:  60px;
  position: absolute;
}

.checkout-total {
  text-align: right;
  padding-right: 10px;
  font-size: 2rem;
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}

.checkout-button{
   float: right;
   width: 300px;
   font-size: 2rem;
   padding: 1em 1em;
}

.checkout-item-image{
  margin-top: 1.75rem;
}

.vertical-line{
  width: 1px;
  margin-left: 5rem;
  background-color: var(--gray);
  margin-top: 1rem;
}

.horizontal-line{
  border: 0.25px solid red;
  height: 1px;
  width: 100%;
}

.checkout-footer{
  margin-top: 50rem;
}


/*--------------------PAYMENT PAGE----------------------*/

.payment{
  width: 40%;
  margin: 0 auto;
}

.form-group {
  position: relative;
  padding: 20px 0;
  width: 300px;
  max-width: 100%;
  margin: 0 auto;
  }
  
  .form-group input {
  border: none;
  border-bottom: 2px solid var(--chestnut);
  background-color: #FBF4E1;
  color: #333;
  display: block;
  font-size: 16px;
  padding: 10px 0;
  width: 100%;
  margin-bottom: 1.5rem;
  
  }
  
  .form-group label {
  color: #A44F32;
  opacity: 0.6;
  font-family: Oswald;
  font-size: 16px;
  font-weight: 100;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  transform: translateY(30px);
  }
  
  .form-group input:valid,
  .form-group input:focus {
  outline: none;
  }
  
  .form-group input:valid + label,
  .form-group input:focus + label {
  color: #A44F32;
  opacity: 1;
  font-size: 14px;
  transform: translateY(0);
  }
  
  .form-group label {
  transition: all 0.2s ease-in-out;
  }

  
label[for="card-number"]{
  transform: translateY(100px);
}

label[for="expiry-date"]{
  transform: translateY(170px);
}

label[for="cvv"]{
  transform: translateY(245px);
}

.form-group input:valid + label[for="card-number"], .form-group input:focus + label[for="card-number"] {
  margin-top: 4.5rem;
}

.form-group input:valid + label[for="expiry-date"], .form-group input:focus + label[for="expiry-date"] {
  margin-top: 9rem;
}

.form-group input:valid + label[for="cvv"], .form-group input:focus + label[for="cvv"] {
  margin-top: 13.5rem;
}

.submit-button{
  margin-top: 3rem;
  text-decoration: none;
}

input[type="submit"] {
  font-family: Oswald;
  font-size: 0.7rem;
  background-color: var(--maximum-green);
  box-shadow: 1px 4px 0 #3A4A21;
  border-radius: 4rem;
  color: white;
  padding: 1em 2em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  border: none; 
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #4b5f2a;
}

input[type="submit"]:active,
input[type="reset"]:active {
  box-shadow: none;
  top: 5px;
}

/* Thank You Message */

.message {
  text-align: center;
  margin-top: 10rem;
  margin-bottom: 3rem;
}
.message h1 {
  font-family: Oswald, sans-serif;
  font-size: 3rem;
  color: var(--moody-indigo);
}

.message h2 {
  font-family: Oswald, sans-serif;
  font-size: 2rem;
  color: var(--chestnut);
  margin-top: 10px;
}

#order-message{
  margin-bottom: 3rem;
}
#back-to-menu-button{
  margin: 0 auto;
}


/* Footer Styling */
/* Footer source from: https://www.codingnepalweb.com/create-responsive-footer-html-css-only/ */

footer {
  position: absolute;
  background: var(--moody-indigo);
  margin-top: 2rem;
  left: 50%;
  transform: translate(-50%);
  width: 100%;  
}

footer .logo {
    color: var(--candlelight-ivory);
    font-weight: 600;
    font-size: 3rem;
    text-decoration: none;
    margin-top: 2rem;
}

footer .logo span {
    color: var(--chestnut);
}

footer .footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3.5rem;
    padding: 60px;
}

.footer-row .footer-col h4 {
    color: var(--candlelight-ivory);
    font-size: 1.5rem;
}

.footer-col{
  padding-top: 2rem;
}

.footer-col .footer-links { 
    margin-top: 30px;
}

.footer-col .footer-links li, .footer-contact-information li{
    list-style: none;
    margin-bottom: 10px;
}

.footer-contact-information li{
  color: var(--candlelight-ivory);
}

.footer-col .footer-links li a {
    text-decoration: none;
    color: var(--maize);
    transition: color 0.3s ease;
}

.footer-col .footer-links li a:hover {
  color: var(--chestnut);
}

.footer-col p {
  margin: 20px 0;
  color: var(--maize);
  max-width: 300px;
}

.footer .form-group {
    position: relative;
    padding: 20px 0;
    width: 300px;
    max-width: 100%;
}
    
footer .form-group input {
    border: none;
    border-bottom: 2px solid var(--maize);
    background-color: var(--moody-indigo);
    color: #333;
    display: block;
    font-size: 16px;
    padding: 10px 0;
    padding-top: 20px;
    width: 100%;
}

footer .form-group label {
    color: var(--candlelight-ivory);
    opacity: 0.6;
    font-family: Oswald;
    font-size: 1rem;
    font-weight: 100;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    transform: translateY(30px);
}
    
footer .form-group input:valid,
    .form-group input:focus {
    outline: none;
}
    
footer .form-group input:valid + label, 
footer .form-group input:focus + label {
    color: var(--candlelight-ivory);
    opacity: 1;
    font-size: 1.5rem;
    transform: translateY(0);
}
    
footer .form-group label {
    transition: all 0.2s ease-in-out;
}

footer input[type="submit"] {
    font-family: Oswald;
    font-size: 1rem;
    background-color: var(--maximum-green);
    box-shadow: 1px 4px 0 #3A4A21;
    border-radius: 4rem;
    color: white;
    padding: 1em 1em;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    border: none; 
    cursor: pointer;
    margin-top: 2rem;
  }

footer input[type="submit"]:hover {
    background-color: #4b5f2a;
}
  
footer input[type="submit"]:active {
    box-shadow: none;
    top: 5px;
}

.copyright{
  position: absolute;
  width: 100%;
  text-align: center;
  margin-top: -4rem;
  color: var(--candlelight-ivory);
}


/* Media Queries */

@media (max-width: 1070px){
  .about-company, .about-quality{
    display: block;
  }

  .about-us-page .hero-section{
    margin-top: -2.2rem;
  }

  .about-quality{
    display: flex;
    flex-wrap: wrap;
  }

  .about-quality-detail, .about-company-detail{
    text-align: center;
    order: 1;
  }

  .about-quality-title, .about-company-title{
    margin-bottom: 1rem;
  }

  .about-company-detail, .about-company-image{
    margin: 0 auto;
    text-align: center;
  }

  .about-quality-detail{
    order: 1;
    max-width: 80%;
    margin: 0 auto;

  }

  .about-company-image{
    margin-left: -1.5rem;
    margin-bottom: 4rem;
  }

  .about-quality-image{
    order: 2;
    margin: 0 auto;
  }

  .about-company-image, .about-quality-image{
    margin-top: 1rem;
  }

  .checkout-item-text, td.quantitys, td.totals{
    margin-top: -1rem;
  }

  .product{
    width: 40%;
  }

  .menu-hero-product h2{
    font-size: 2.5rem;
  }
}

@media (max-width: 768px) {
  header {
    padding: 10px;
  }

  header.show-mobile-menu::before {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
  }

  .navbar .logo {
    font-size: 1.7rem;
  }
  #hamburger-btn {
    display: block;
    color: var(--candlelight-ivory);
  }
 
#close-menu-btn {
    display: block;
    color: var(--chestnut);
    background-color: var(--maize);
    border-radius: 20%;
  }

  .navbar .menu-links {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100vh;
    background: var(--candlelight-ivory);
    flex-direction: column;
    padding: 70px 40px 0;
    transition: left 0.2s ease;
  }

  header.show-mobile-menu .navbar .menu-links {
    left: 0;
  }

  .navbar a {
    color: var(--chestnut);
  }

  .hero-section{
    display: block;
    height: auto;
  }

  .hero-section .content {
    text-align: center;
    margin: 0 auto;
  }

  .hero-section .content :is(h2, p) {
    max-width: 100%;
  }

  .hero-section .content h2 {
    font-size: 2.3rem;
    line-height: 60px;
  }
  
  .hero-section .content button {
    padding: 15px 20px;
    margin: 0 auto;
    margin-top: 5rem;
    margin-left: -17rem;
    margin-bottom: 2rem;
  }

  .hero-section .image {
    margin: 0 auto;
    text-align: center;
  }
  
  .footer {
    position: relative;
    bottom: 0;
    left: 0;
    transform: none;
    width: 100%;
  }

  .footer .footer-row {
    padding: 20px;
    gap: 1rem;
  }

  .cart-and-payment{
    display: block;
  }

  .cart, .payment{
    width: 80%;
  }

  .payment{
    margin-top: 2rem;
    margin-left: 0;
  }

  .product, .featured-product{
    width: 90%;
    margin-left: 0.75rem;
    height: 30rem;
  }

  .about-company, .about-quality{
    display: block;
  }

  .about-us-page .hero-section{
    margin-top: -2.2rem;
  }

  .about-quality{
    display: flex;
    flex-wrap: wrap;
  }

  .about-quality-detail, .about-company-detail{
    text-align: center;
    order: 1;
  }

  .about-quality-title, .about-company-title{
    margin-bottom: 1rem;
  }

  .about-quality-detail{
    order: 1;
    width: 100%;
  }

  .about-quality-image{
    order: 2;
  }

  .checkout-item-description{
    font-size: 1.5rem;
    width: 6.25rem;
  }

  .checkout-footer{
    margin-top: 5rem;
  }

  .product-cards{
    display: block;
  }

  .product img{
    display: block;
    transition: none;
    margin-top: 2rem;
    margin-bottom: 4rem;
    transform: scale(1.5);
  }

  .product img:hover{
    transform: scale(1.4);
  }

  .menu-hero-product{
    display: block;
    margin-top: -6rem;
  }

  .menu-hero-product .product-image{
    margin: 0 auto;
    width: 50%;
  }

  .menu-hero-product .product-description{
    width: 90%;
  }

  .menu-hero-product .product-image {
    width: 40%;
    height: auto;
  }

  
}

@media screen and (min-width: 320px)
{
  .image-left, .image-right
  {
    display: flex;
    align-items: center;
  }

  .image-left img
  {
    margin-right: 1em;
    float: left;
  }

  .image-right img
  {
    order: 1;
    margin-left: 1em;
    float: right; 
  }

}
